.timer-container {
  width: 60%;
  margin: 0px auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.timer-item {
  width: 20%;
  height: 150px;
  text-align: center;
  font-size: 1.25rem;
  color: var(--offWhite);
  border-radius: 10px;
  padding: 20px;

  /* To make them glassmorphism */
  backdrop-filter: blur(8px) saturate(200%);
  -webkit-backdrop-filter: blur(8px) saturate(200%);
  background-color: rgba(17, 25, 40, 0.64);
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.timer-heading {
  width: 80%;
  padding-bottom: 5px;
  margin: 0px auto;
  border-bottom: 2px solid var(--boneWhite);
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
}

.timer-data {
  font-size: 3.5rem;
  font-weight: 700;
  margin-top: 15px;
}

@media (min-width: 300px) and (max-width: 600px) {
  .timer-container {
    width: 90%;
    padding: 0px;
  }

  .timer-item {
    padding: 2px;
    height: 4rem;
  }

  .timer-heading {
    font-size: 0.5rem;
    padding-bottom: 0px;
  }

  .timer-data {
    font-size: 1.5rem;
    margin-top: 5px;
  }
}

@media (min-width: 600px) and (max-width: 900px) {
  .timer-container {
    width: 90%;
  }

  .timer-item {
    padding: 2px;
    height: 5rem;
  }

  .timer-heading {
    font-size: 0.75rem;
    padding-bottom: 0px;
  }

  .timer-data {
    font-size: 2rem;
    margin-top: 5px;
  }
}

@media (min-width: 900px) and (max-width: 1200px) {
  .timer-container {
    width: 90%;
  }
}
